@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Application

@functions
{
    double perimetro;
    double area;
    double volumen;

    public void OnPost(double lado, double altura)
    {
        perimetro = Cuadrado.CalcularPerimetro(lado);
        area = Cuadrado.CalcularArea(lado);
        volumen = PrismaCuadrangular.CalcularVolumen(area, altura);
    }
}

<h1>
    Calculadora de Área y Perímetro del Cuadrado
</h1>

<form method="Post">
    Dame el lado: <input type="number" name="lado" step="0.01">
    <br>
    Dame la altura: <input type="number" name="altura" step="0.01">
    <br>
    <button>Calcular</button>
</form>

<p>
    Área: @(area)cm2<br>Perímetro: @(perimetro)cm<br>Volumen: @(volumen)cm3
</p>

<h1>
    Calculadora de Área y Perímetro del Cuadrado
</h1>

<form method="Post">
    Dame el lado: <input type="number" name="lado" step="0.01">
    <button>Calcular</button>
</form>

<p>
    Perímetro: @(perimetro)cm<br>Área: @(area)cm2
</p>
